{#
*
* @package dcbase
* @copyright (c) 2017 Direct Connect Network Foundation / www.dcbase.org
* @license https://www.dcbase.org/DCBase/LICENSE GNU General Public License v2
*
#}

{% extends '@template/bootstrap_base.html.twig' %}

{% set content_owner = 'NMDC Project' %}
{% set page_subtitle = 'Placeholder' %}

{% set git_base_url = false %}

{% set git_info = git_info(_self) %}

{% block content -%}
		<div class="jumbotron">
			<div class="lead">

			{% markdown %}
			## {{ content_owner }}

			This is a placeholder page for an affiliate project of the {{ default_owner }}.
			{% endmarkdown %}

			</div>
		</div>

		<div class="pagebreak"> </div>

		<div class="row marketing">
			<div class="col-lg-12">

				{# content would go here #}

			</div>
		</div>
{% endblock %}
